



  <table class="table table-bordered table-condensed">
    <thead>
        <tr class="noselect" >
            <th class="col-sm-6" ng-click="getFSUIEventHandler().onClickHeader('Bank', 'json.name')">Name</th>
            <th class="col-sm-2" ng-click="getFSUIEventHandler().onClickHeader('Bank', 'category')">Category</th>
            <th class="col-sm-1" ng-click="getFSUIEventHandler().onClickHeader('Bank', 'json.quantity')">#</th>
        </tr>
    </thead>
  </table>  

  <div class="bodycontainer scrollable" style="max-height: 150px">
     <table class="table table-bordered table-condensed table-scrollable" >
        <tbody> 
          <tr  ng-repeat="v in getFSSimState().bankArray | orderBy:getFSUIEventHandler().orderBankBy | filter:{ category:'!constructor'}" ng-click="getFSUIEventHandler().onClickBody('Bank', v.json)" class="noselect" style="background-color: rgba(54, 25, 25, .1)">
            <td class="col-sm-6"> 
              <div style = "background:{{getFSUIEventHandler().bgcolor('bank',v.json.name)}};">  {{v.json.name}}</div>

              


            </td> 
            <td class="col-sm-2"> {{v.category}}</td>
            <td class="col-sm-1"> 
              <div><input  style = "background:{{v.quantitybgcolor}};width:100%" type="number" size="2"  ng-model="v.json.quantity"></div>
            </td> 
          </tr>
        </tbody>
      </table>
  </div>






 