
<div class="fadedbackground">


<table class="table table-bordered table-condensed">
  <thead>
      <td class="col-sm-7">
        <h4>{{getFSJSONLoader().simulation.selectedCharacter.json.name}}</h4>
      </td>
      <td class="col-sm-6">
         
      </td>
  </thead>
  <tbody>
    <tr>
      <td class="col-sm-7">
        <image width ="100%" src="{{getFSSimState().selectedCharacter.json.image}}"></image>
      </td>
      <td class="col-sm-6">
         <div ng-include src="'views/share/charactersheetstats.html'"></div>
      </td>
    </tr>
  </tbody>
</table> 


</div> <!--fadedbackground-->

