<div class="fadedbackground">

<h4>GOALS</h4>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">
    <theader>
        <tr class="noselect" >
            <td class="col-sm-3">Name</td>
            <td class="col-sm-6">Description</td>
        </tr>
    </theader>
    <tbody>
      <tr class="noselect" >
        <td > <div style = "background:rgba(20, 200, 20, 0.25)"> {{getFSSimRewards().nextGoal.name}}</div></td> 
        <td > <div style = "background:rgba(20, 200, 20, 0.25)"> {{getFSSimRewards().nextGoal.desc}}</div></td> 
      </tr>
    </tbody>
  </table>
</div>


</div><!--fadedbackground-->

 