







<div class="fadedbackground">
<table class="table">
  <thead>
    <tr class="noselect">
        <th class="col-sm-2"><h4>WORKER POOL</h4></th>
        <th class="col-sm-2"><h4>ACTIVE<br/>TASKS</h4></th>
    </tr> 
  </thead>
  <tbody>
    <tr>    
      <td valign="top" > 
        <div ng-include src="'views/share/characterselect.html'"></div>
      </td> 
      <td valign="top"> 
        <div ng-include src="'views/share/activetasks.html'"></div>
      </td> 
    </tr>
  </tbody>
</table>
</div> <!--fadedbackground-->











<table>
<tr>   
<td valign="top" width="50%"> 

<div class="fadedbackground">
<table class="table">

<thead>
    <tr class="noselect">
        <th class="col-sm-1"><h4>BANK</h4>equip/consume</th>
        <th class="col-sm-2"><h4>CRAFTABLES</h4></th>
    </tr>
</thead>
<tbody>

<tr>     

<td valign="top"> 
  <div ng-include src="'views/share/bankables.html'"></div>
</td> 

<td valign="top"> 
  <div ng-include src="'views/share/craftables.html'"></div>
</td> 

</tr>
</tbody>
</table>
</div> <!--fadedbackground-->


<br/>


