




<p  align="right"><b>{{getFSJSONLoader().myStopwatch.data.pad(getFSJSONLoader().myStopwatch.data.hours)}}:{{getFSJSONLoader().myStopwatch.data.pad(getFSJSONLoader().myStopwatch.data.minutes)}}:{{getFSJSONLoader().myStopwatch.data.pad(getFSJSONLoader().myStopwatch.data.seconds)}}</b></p>


<form novalidate>
  <p></p>
  <button ng-click="getFSJSONLoader().loadAndCreateSim()">Load:</button><br/>
  <ul>
  <b>rules:</b><input size="45" type="text" ng-model="getFSJSONLoader().user.craftyrules.url"><br/>
  <b>state:</b><input size="45" type="text" ng-model="getFSJSONLoader().user.craftystate.url"><br/>
  <b>map:</b><input size="45" type="text" ng-model="getFSJSONLoader().user.craftymap.url">
</ul>
 
</form>


 
<p>For custom dataset upload a JSON description to <a href="http://myjson.com/">http://myjson.com/</a> and copy the generated URL in to text field.<p>
</br>


<br/>




<br/><b>title: {{getFSSimState().state.title}}<b>
<br/><b>version: {{getFSSimState().state.version}}<b>
<br/><b>last edit date: {{getFSSimState().state.lastEditDate}}<b>

<table class="table table-bordered table-condensed table-scrollable">
  <theader>
      <tr class="noselect" >
          <td class="col-sm-1">
              <pre>
              <button ng-click="getFSSimState().onSerialize()" style="float: left;">Serialize:</button><br/><br/>Displays current state data as JSON in text area below.
              </pre>
          </td>
          <td class="col-sm-1">
            <pre>
            <button ng-click="getFSSimState().onUpdateServerVersionWith()" style="float: left;">Update server:</button><br/><br/>at {{getFSSimState().stateURL}}. Paste JSON to be uploaded to the server in the text area below. There is a risk this will break the build, if the change is significant you should use myjson.com to genrate a new url and test this first. 
            </pre>
          </td>

      </tr>
  </theader>
    <tbody>
      <tr class="noselect" >
          <td class="col-sm-1">
            <textarea cols="50" rows="20" ng-model="getFSSimState().serializedData " style="float: left; width:100%"></textarea>
          </td>
          <td class="col-sm-1">
            <textarea cols="50" rows="20" ng-model="getFSSimState().updateServerVersionWithData" style="float: right; width:100%"></textarea>
          </td>

      </tr>
  </tbody>
</table>  

