




<p  align="right"><b>{{getFSJSONLoader().myStopwatch.data.pad(getFSJSONLoader().myStopwatch.data.hours)}}:{{getFSJSONLoader().myStopwatch.data.pad(getFSJSONLoader().myStopwatch.data.minutes)}}:{{getFSJSONLoader().myStopwatch.data.pad(getFSJSONLoader().myStopwatch.data.seconds)}}</b></p>


<form novalidate>
  <p></p>
  <button ng-click="getFSJSONLoader().loadAndCreateSim()">Load:</button><br/>
  <ul>
  <b>rules:</b><input size="45" type="text" ng-model="getFSJSONLoader().user.rules"><br/>
  <b>state:</b><input size="45" type="text" ng-model="getFSJSONLoader().user.state">
</ul>
 
</form>


 
<p>For custom dataset upload a JSON description to <a href="http://myjson.com/">http://myjson.com/</a> and copy the generated URL in to text field.<p>
</br>


<div ng-include src="'views/share/goals.html'"></div>


<br/>

<div class="fadedbackground">
<table class="table">
  <thead>
    <tr class="noselect">
        <th class="col-sm-6"><h4>CHARACTERS</h4></th>
        <th class="col-sm-1"><h4>QUEUED<br/>TASKS</h4></th>
    </tr> 
  </thead>
  <tbody>
    <tr>    
      <td valign="top"> 
        <div ng-include src="'views/share/characterselect.html'"></div>
      </td> 
      <td valign="top"> 
        <div ng-include src="'views/share/tasks.html'"></div>
      </td> 
    </tr>
  </tbody>
</table>
</div> <!--fadedbackground-->











<table>
<tr>   
<td valign="top" width="50%"> 

<div class="fadedbackground">
<table class="table">

<thead>
    <tr class="noselect">
        <th class="col-sm-1"><h4>HARVESTABLES</h4></th>
        <th class="col-sm-1"><h4>GATHERABLES</h4></th>
        <th class="col-sm-1"><h4>BANK</h4>equip/consume</th>
        <th class="col-sm-1"><h4>CRAFTABLES</h4></th>
    </tr>
</thead>
<tbody>

<tr>     

<td valign="top"> 
  <div ng-include src="'views/share/harvestables.html'"></div>
</td> 


<td valign="top"> 
  <div ng-include src="'views/share/gatherables.html'"></div>
</td> 


<td valign="top"> 
  <div ng-include src="'views/share/bankables.html'"></div>
</td> 

<td valign="top"> 
  <div ng-include src="'views/share/craftables.html'"></div>
</td> 

</tr>
</tbody>
</table>
</div> <!--fadedbackground-->


<div ng-include src="'views/share/contextinfoconsole.html'"></div>



<br/>

<form novalidate>
<button ng-click="getFSJSONLoader().saveJson()">Save: (Enter Document Name)</button><input size="45" type="text" ng-model="getFSJSONLoader().documentName.input"></input>
</form>
<pre>
{{getFSJSONLoader().simulation.jsonSerialized}}
</pre>
</br>

