


<form novalidate>
  <pre><button ng-click="getMapEdit().resize()">resize</button> (rows<input type="text" ng-model="getMapEdit().worldMapDim.rows" value="{{getMapEdit().worldMapDim.rows}}" size="4"/>, cols<input type="text" ng-model="getMapEdit().worldMapDim.cols" value="{{getMapEdit().worldMapDim.cols}}" size="4"/>)  <br/><br/> <button ng-click="getMapEdit().save()">save</button></pre>
</ul>
<br/>

<br/>
<br/>

<div  style="width: {{50*getMapEdit().worldMapDim.cols}}px">

<table class="table table-bordered table-condensed" style="table-layout: fixed">
  <tbody>
      <tr ng-repeat="row in getMapEdit().worldMap">
        <td style="min-width: 100px; min-height: 100px" ng-repeat="col in row" width="100" height ="100"> 
          <div style="width:60px">
            <select  width="90" style="width: 90px" ng-model="col.harvestables.json.name" ng-options="v for v in getFSSimRules().harvestableDefinesKeys">
            </select>
            #<input size="3" type="text" ng-model="col.harvestables.json.quantity">
  
          </div>
        </td>
      </tr>
  </tbody>
</table>  





<pre>
{{getMapEdit().json}}
</pre>