


<br/><b>title: {{getFSMapState().mapStateJSON.title}}<b>
<br/><b>version: {{getFSMapState().mapStateJSON.version}}<b>
<br/><b>last edit date: {{getFSMapState().mapStateJSON.lastEditDate}}<b>


<br/>
<pre>
<button ng-click="getFSMapState().updateServerVersionFromState()">Update server:</button> at {{getFSMapState().mapStateURL}}
</pre>
<br/>


<div class="fadedbackground">

<h4>MAP STATE</h4>

<button ng-click="getFSMapState().update()">Update from Google Doc</button> {{getFSMapState().spreadsheet}}


<br/>
<textarea cols="50" rows="20" ng-model="getFSMapState().mapStateJSONtxt" style="float: right; width:100%"></textarea>

















 