


<br/><b>title: {{getFSSimRules().rulesJSON.title}}<b>
<br/><b>version: {{getFSSimRules().rulesJSON.version}}<b>


<br/><button ng-click="getFSSimRules().updateServerVersionFromState()">Update server:</button>
<br/>

<div class="fadedbackground">

<h4>CRAFTABLES RULES</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
    <tr class="noselect" >
      <td class="col-sm-1" style="word-wrap:normal">Name</td>
      <td class="col-sm-1" style="word-wrap:normal">Output</td>
      <td class="col-sm-3" style="word-wrap:normal">Input</td>
      <td class="col-sm-1" style="word-wrap:normal">Constructor</td>
      <td class="col-sm-1" style="word-wrap:normal">Duration</td>
    </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">
    <tbody>
      <tr ng-repeat="(k,v)  in getFSSimRules().craftableDefines" class="noselect" >
        <td class="col-sm-1">
          <input type="text" ng-model="k" size="16" style="width:100%" readonly></input>
        </td> 
        <td class="col-sm-1">
          <div ng-repeat="(outk,outv) in v.output">
              <input  type="text"   size="16" ng-model="outk" style="width:100%" readonly> 
              <input  type="number" size="2"  ng-model="v.output[outk]" style="width:100%">
          </div>
        </td> 
        <td class="col-sm-3">
          <div ng-repeat="(ink,inv) in v.input">
              <input  type="text"   size="16" ng-model="ink" style="width:100%" readonly> 
              <input  type="number" size="2"  ng-model="v.input[ink]" style="width:100%">
          </div>
        </td> 
        <td class="col-sm-1"><input ng-model="v.construction" size="16" style="width:100%"></input></td>
        <td class="col-sm-1"><input type="number" ng-model="v.duration" size="3" style="width:100%"></input></td>  
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->



<div class="fadedbackground">

<h4>HARVEST RULES</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
      <tr class="noselect" >
          <td class="col-sm-1">Name</td>
          <td class="col-sm-1">Harvest Duration</td>
      </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="(k,v)  in getFSSimRules().harvestableDefines" class="noselect" >
        <td class="col-sm-1">{{k}}</td> 
        <td class="col-sm-1">{{v.duration}}</td> 
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->



<div class="fadedbackground">

<h4>CONSTRUCTORS</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
      <tr class="noselect" >
          <td class="col-sm-1">Name</td>
      </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="(k,v)  in getFSSimRules().constructorDefines" class="noselect" >
        <td class="col-sm-1">{{k}}</td> 
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->


<div class="fadedbackground">

<h4>TASK RULES</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
      <tr class="noselect" >
          <td class="col-sm-1">Name</td>
          <td class="col-sm-1">Effect</td>
      </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="(k,v) in getFSSimRules().taskRules" class="noselect" >
        <td class="col-sm-1">{{k}}</td> 
        <td class="col-sm-1">{{v.stat}}</td> 
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->

<br>

<table class="table table-bordered table-condensed table-scrollable">
  <theader>
      <tr class="noselect" >
          <td class="col-sm-1">
              <button ng-click="getFSSimRules().onSerialize()" style="float: right;">Serialize:</button>
          </td>
          <td class="col-sm-1">
            <button ng-click="getFSSimRules().onUpdateServerVersionWith()" style="float: right;">Update server:</button>
          </td>

      </tr>
  </theader>
    <tbody>
      <tr class="noselect" >
          <td class="col-sm-1">
            <textarea cols="50" rows="20" ng-model="getFSSimRules().serializedData" style="float: left; width:100%"></textarea>
          </td>
          <td class="col-sm-1">
            <textarea cols="50" rows="20" ng-model="getFSSimRules().updateServerVersionWithData" style="float: right; width:100%"></textarea>
          </td>

      </tr>
  </tbody>
</table>  
</div>













 