




<br/>
<br/>

<div  style="width: {{50*getWorld().worldMapDim.cols}}px">

<table class="table table-bordered table-condensed" style="table-layout: fixed">
  <tbody>
      <tr ng-repeat="row in getWorld().worldMap">
        <td style="min-width: 100px; min-height: 100px" ng-repeat="col in row" width="100" height ="100"> 
          <div style="width:60px">
            <select  width="90" style="width: 90px" ng-model="col.resource" ng-options="v for v in getFSSimRules().harvestableDefinesKeys">
            </select>
          </div>
        </td>
      </tr>
  </tbody>
</table>  


