

<p>Mapedit is used to create or edit existing world maps. By default it is populated with data loaded from worldmap.json.The resource types listed in cell selector are from rules.json:harvestableDefines.</p>

  <pre><button ng-click="getWorldMapEdit().resize()">resize</button> (rows<input type="text" ng-model="getWorldMapEdit().worldMapDim.rows" value="{{getWorldMapEdit().worldMapDim.rows}}" size="4"/>, cols<input type="text" ng-model="getWorldMapEdit().worldMapDim.cols" value="{{getWorldMapEdit().worldMapDim.cols}}" size="4"/>)<br>This will discard currently loaded mapedit data. </pre>

  <pre><button ng-click="getWorldMapEdit().updateServer()">Update Server</button>  at {{getWorldMapEdit().worldMapURL}}<br>Updates worldmap JSON on server with this locally edited version.<br>Click outside or grid area first to capture your most recent map state change. </pre>
<br/>

<br/>
<br/>

<td valign="top"> 
  <div ng-include src="'views/share/worldmapgridedit.html'"></div>
</td> 