



<br/>

<div class="fadedbackground" style="min-height: 300px;">
<table class="table">
  <thead>
    <tr class="noselect">
        <th class="col-sm-2"><h4>WORKER POOL</h4></th>
        <th class="col-sm-2"><h4>ACTIVE<br/>TASKS</h4></th>
        <th class="col-sm-2"><h4>BANK</h4></th>
    </tr> 
  </thead>
  <tbody>
    <tr>    
      <td valign="top" > 
        <div ng-include src="'views/share/characterselect.html'"></div>
      </td> 
      <td valign="top"> 
        <div ng-include src="'views/share/activetasks.html'"></div>
      </td> 
      <td valign="top"> 
        <div ng-include src="'views/share/bank.html'"></div>
        <div>^scroll</div>
      </td> 
    </tr>
  </tbody>
</table>
</div> <!--fadedbackground-->




<td valign="top"> 
  <div ng-include src="'views/share/worldmapgrid.html'"></div>
</td> 



<br/>




