



  <table class="table table-bordered table-condensed">
    <thead>
        <tr class="noselect" >
            <th class="col-sm-3" ng-click="getFSService().onClickHeader('Bank', 'json.name')">Name</th>
            <th class="col-sm-2" ng-click="getFSService().onClickHeader('Bank', 'category')">Category</th>
            <th class="col-sm-1" ng-click="getFSService().onClickHeader('Bank', 'json.quantity')">#</th>
        </tr>
    </thead>
  </table>  

  <div class="bodycontainer scrollable" style="max-height: 350px">
     <table class="table table-bordered table-condensed table-scrollable" >
        <tbody> 
          <tr  ng-repeat="v in getFSService().simulation.bankArray | orderBy:getFSService().simulation.orderBankBy | filter:{ category:'!constructor'}" ng-click="getFSService().onClickBody('Bank', v.json)" class="noselect" style="background-color: rgba(54, 25, 25, .1)">
            <td class="col-sm-3"> 
              <div style = "background:{{v.bgcolor()}};">  {{v.json.name}}</div>
            </td> 
            <td class="col-sm-2"> {{ v.category}}</td>
            <td class="col-sm-1"> 
              <div style = "background:{{v.quantitybgcolor}};">  {{v.json.quantity.length}}</div>
            </td> 
          </tr>
        </tbody>
      </table>
  </div>

  <br/>
  <div class="bodycontainer scrollable" style="max-height: 150px">
     <table class="table table-bordered table-condensed table-scrollable" >
        <tbody> 
          <tr ng-repeat="v in getFSService().simulation.bankArray | orderBy:getFSService().simulation.orderBankBy | filter:{ category:'constructor'}" ng-click="getFSService().onClickBody('Bank', v.json)" class="noselect" style="background-color: rgba(54, 25, 25, .1)">
            <td class="col-sm-3"> 
              <div style = "background:{{v.bgcolor()}};">  {{v.json.name}}</div>
            </td> 
            <td class="col-sm-2"> {{ v.category}}</td>
            <td class="col-sm-1"> 
              <div style = "background:{{v.quantitybgcolor}};">  {{v.json.quantity.length}}</div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>








 