<div class="fadedbackground">
<h4>CONSOLE</h4> 
<table class="table table-bordered table-condensed table-scrollable noselect">
	<tbody>
	<tr class="noselect">
		<td  class="col-sm-2">
			<pre>{{getFSService().simulation.contextConsole.message}}</pre>
		</td> 
	</tr>
	</tbody>
</table>
<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="v in getFSService().simulation.toolDefinesArray | filter:{ actions:'Dig'}" class="noselect" >
        <td class="col-sm-1">{{v.name}}</td> 
        <td class="col-sm-1">{{v.strength}}</td> 
        <td class="col-sm-1">{{v.actions}}</td> 
      </tr>
    </tbody>
  </table>
</div>
</div> <!--fadedbackground-->



