



<table class="table table-bordered table-condensed">
<thead>
  <tr class="noselect" >
      <th class="col-sm-6" ng-click="getFSService().onClickHeader('Gatherables', 'json.name')">Name</th>
        <th class="col-sm-1" ng-click="getFSService().onClickHeader('Gatherables', 'json.name')">
          <div style='height:20px; width:90px; display:table-cell; vertical-align:middle'>
            <img src= 'http://ec2-54-201-237-107.us-west-2.compute.amazonaws.com/crafty/images/unlock.69ea04fd.png' width="50%" style="max-width: 100%; max-height: 100%; display:block; margin:auto;" />
          </div>
      </th>
      <th class="col-sm-1" ng-click="getFSService().onClickHeader('Gatherables', 'json.quantity')">#</th>
      <th class="col-sm-1" ng-click="getFSService().onClickHeader('Gatherables', 'json.duration')">              <div style='height:30px; width:30px; display:table-cell; vertical-align:middle'>
                <img src= 'http://ec2-54-201-237-107.us-west-2.compute.amazonaws.com/crafty/images/clockface.9a46d0f5.png' width="80%" style="max-width: 100%; max-height: 100%; display:block; margin:auto;" />
              </div>
      </th>
  </tr>
</thead>
</table>   
<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  
  <tbody>
    <tr ng-repeat="v in getFSSimState().gatherablesArray | orderBy:getFSService().simulation.orderGatherablesBy" ng-click="getFSService().onClickBody('Gatherables', v.json)" class="noselect" style="background-color: rgba(54, 25, 25, .1)">
      <td class="col-sm-6"> 
          <div style = "background:{{v.bgcolor()}};">  {{v.json.name}}</div>
      </td> 

      <td class="col-sm-1" >
        <div style='height:20px; width:90px; display:table-cell; vertical-align:middle'>
          <img src= 'http://ec2-54-201-237-107.us-west-2.compute.amazonaws.com/crafty/{{v.hasUnlocks()}}' width="50%" style="max-width: 100%; max-height: 100%; display:block; margin:auto;" />
        </div>
      </td> 

      <td class="col-sm-1"> 
          <div style = "background:{{v.quantitybgcolor}};">  {{v.json.quantity}}</div>
      </td> 
      <td class="col-sm-1"> {{v.duration(getFSSimState().selectedCharacter)}}</td> 
    </tr>
  </tbody>

</table>




 