




  <table class="table table-bordered table-condensed">
    <thead>
      <tr class="noselect" >
          <th class="col-sm-3" ng-click="getFSService().onClickHeader('Harvestables', 'name')">Name</br> &nbsp</th>
          <th class="col-sm-1" ng-click="getFSService().onClickHeader('Harvestables', 'quantity')">#</br> &nbsp</th>
          <th class="col-sm-1" ng-click="getFSService().onClickHeader('Harvestables', 'duration')">Duration</br> &nbsp</th>
      </tr>
    </thead>
  </table>   
  <div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">
    <tbody>
      <tr ng-repeat="v in getFSService().simulation.harvestablesArray | orderBy:getFSService().simulation.orderHarvestablesBy" ng-click="getFSService().onClickBody('Harvestables', v)" class="noselect" >
       <td class="col-sm-3" bgcolor={{v.bgcolor()}} > {{v.name}}</td> 
       <td class="col-sm-1"> {{v.quantity}}</td> 
       <td class="col-sm-1"> {{v.harvestableDuration(getFSService().simulation.selectedCharacter)}}</td> 
      </tr>
    </tbody>

  </table>
  </div>


