<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

  <h4>Characters</h4> 
  <ul style="list-style-type:none">
    <li>
      <table class="table table-bordered">
        <tbody>
          <tr ng-repeat="item in simulation.characterArray">
            <td> {{item.firstName}} {{item.lastName}}</td> 
          </tr>
        </tbody>
      </table>
      </br>
  </ul>