<div class="jumbotron">
  <p>
    <img src="images/harvestandcraft.jpg" alt="" width="100%" height="100%"><br>
  </p>
  <a href="https://ptown.hackpad.com/Crafting-WojTOaMPxGR">Design Doc</a>
</div>

  <h4>CHARACTERS</h4> 

  <table class="table table-bordered table-condensed table-scrollable noselect">
    <thead>
      <tr class="noselect">
        <th width="25%">Name</th>
        <th width="25%">Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in simulation.characterArray" class="noselect">
        <td width="25%" bgcolor={{item.bgcolor}}> {{item.firstName}} {{item.lastName}}</td> 
        <td width="25%"> {{item.activity}}</td> 
      </tr>
    </tbody>
  </table>






 
 

<table class="table">

   <thead>
        <tr class="noselect">
            <th><h4>GATHERABLES</h4>click to gather</th>
            <th><h4>BANK</h4></th>
   
        </tr>
    </thead>

<tbody>

<tr>     


<td valign="top"> 

   <table class="table table-bordered table-condensed">
    <thead>
        <tr class="noselect">
            <th width="25%">Resoure</th>
            <th width="25%">Quantity</th>
        </tr>
    </thead>
   </table>   
   <div class="bodycontainer scrollable">
      <table class="table table-bordered table-condensed table-scrollable">
        
        <tbody>
          <tr ng-repeat="(k,v) in simulation.gatherables" ng-click="onClickGatherables(k)" class="noselect" >
            <td width="25%"> {{k}}</td> 
            <td width="25%"> {{v.quantity}}</td> 
          </tr>
        </tbody>
     
      </table>
  </div>

</td> 

<td valign="top"> 

   <table class="table table-bordered table-condensed">
    <thead>
        <tr class="noselect" >
            <th width="25%">Resoure</th>
            <th width="25%">Quantity</th>
        </tr>
    </thead>
   </table>  

  <div class="bodycontainer scrollable">
   
     <table class="table table-bordered table-condensed table-scrollable" >
        <tbody>
          <tr ng-repeat="(k,v) in simulation.bank" class="noselect" >
            <td width="25%">{{ k }}</td>
            <td width="25%">{{ v }}</td>
          </tr>
        </tbody>
      </table>
  </div>

</td> 

</tr>
</tbody>
     
</table>


  <h4>RECIPES</h4><b>click to craft</b>

  <table class="table table-bordered table-condensed table-scrollable">
    <tbody>
      <tr ng-repeat="(k,v)  in simulation.recipes" ng-click="onClickRecipes(k)" class="noselect" >
        <td bgcolor={{v.bgcolor()}} > {{k}}</td> 
        <td > {{v.input}}</td> 
        <td > {{v.duration}}</td> 
      </tr>
    </tbody>
  </table>




 