<div class="jumbotron">
  <p>
    <img src="images/harvestandcraft.jpg" alt=""><br>
  </p>
</div>

  <h4>CHARACTERS</h4> 
  <ul style="list-style-type:none">
    <li>
      <table class="table table-bordered table-condensed table-scrollable">
        <tbody>
          <tr ng-repeat="item in simulation.characterArray">
            <td bgcolor={{item.bgcolor}}> {{item.firstName}} {{item.lastName}}</td> 
            <td > {{item.activity}}</td> 
          </tr>
        </tbody>
      </table>
      </br>
  </ul>





 
 

<table class="table">

   <thead>
        <tr>
            <th><h4>GATHERABLES</h4></th>
            <th><h4>BANK</h4></th>
   
        </tr>
    </thead>

<tbody>

<tr>     


<td valign="top"> 

   <div class="bodycontainer scrollable">
      <table class="table table-bordered table-condensed table-scrollable">
        
        <tbody>
          <tr ng-repeat="(k,v) in simulation.gatherables" ng-click="onClickGatherables(k)">
            <td> {{k}}</td> 
            <td> {{v.quantity}}</td> 
          </tr>
        </tbody>
     
      </table>
  </div>

</td> 

<td valign="top"> 

  <div class="bodycontainer scrollable">
   
     <table class="table table-bordered table-condensed table-scrollable" >
        <tbody>
          <tr ng-repeat="(k,v) in simulation.bank">
            <td>{{ k }}</td>
            <td>{{ v }}</td>
          </tr>
        </tbody>
      </table>
  </div>

</td> 

</tr>
</tbody>
     
</table>


 