<div class="fadedbackground">

<h4>RECIPES RULES</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
      <tr class="noselect" >
          <td class="col-sm-3">Item</td>
          <td class="col-sm-5">Ingredients</td>
          <td class="col-sm-2">Constructor</td>
          <td class="col-sm-1">Crafting Time (S)</td>
      </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="(k,v)  in getFSService().simulation.recipeDefines" class="noselect" >
        <td class="col-sm-3">{{v.output}}</td> 
        <td class="col-sm-5">{{v.input}}</td> 
        <td class="col-sm-2">{{v.construction}}</td> 
        <td class="col-sm-1">{{v.craftBaseTimeS}}</td> 
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->



<div class="fadedbackground">

<h4>TOOL RULES</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
      <tr class="noselect" >
          <td class="col-sm-1">Name</td>
          <td class="col-sm-1">Strength</td>
          <td class="col-sm-1">Actions</td>
      </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="(k,v)  in getFSService().simulation.toolDefines" class="noselect" >
        <td class="col-sm-1">{{k}}</td> 
        <td class="col-sm-1">{{v.strength}}</td> 
        <td class="col-sm-1">{{v.actions}}</td> 
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->



<div class="fadedbackground">

<h4>HARVEST RULES</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
      <tr class="noselect" >
          <td class="col-sm-1">Name</td>
          <td class="col-sm-1">Actionable</td>
          <td class="col-sm-1">Harvest Base Time</td>
          <td class="col-sm-1">Hardness</td>
      </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="(k,v)  in getFSService().simulation.harvestableDefines" class="noselect" >
        <td class="col-sm-1">{{k}}</td> 
        <td class="col-sm-1">{{v.actionable}}</td> 
        <td class="col-sm-1">{{v.harvestBaseTimeS}}</td> 
        <td class="col-sm-1">{{v.hardness}}</td> 
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->


<div class="fadedbackground">

<h4>GATHER RULES</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
      <tr class="noselect" >
          <td class="col-sm-1">Type</td>
          <td class="col-sm-1">Gather Time</td>
          <td class="col-sm-1">Actionable</td>
      </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="(k,v)  in getFSService().simulation.gatherableDefines" class="noselect" >
        <td class="col-sm-1">{{k}}</td> 
        <td class="col-sm-1">{{v.gatherBaseTimeS}}</td> 
        <td class="col-sm-1">{{v.actionable}}</td> 
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->



<div class="fadedbackground">

<h4>FOOD RULES</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
      <tr class="noselect" >
          <td class="col-sm-1">Name</td>
          <td class="col-sm-1">Effect</td>
      </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="(k,v)  in getFSService().simulation.foodDefines" class="noselect" >
        <td class="col-sm-1">{{k}}</td> 
        <td class="col-sm-1">{{v.onConsume.stat}}</td> 
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->

<div class="fadedbackground">

<h4>TASK RULES</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
      <tr class="noselect" >
          <td class="col-sm-1">Name</td>
          <td class="col-sm-1">Effect</td>
      </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="(k,v)  in getFSService().simulation.taskRules" class="noselect" >
        <td class="col-sm-1">{{k}}</td> 
        <td class="col-sm-1">{{v.stat}}</td> 
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->



 