<div class="fadedbackground">

<h4>RECIPES DEFINITIONS (reference)</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
      <tr class="noselect" >
          <td class="col-sm-3">Item</td>
          <td class="col-sm-5">Ingredients</td>
          <td class="col-sm-2">Constructor</td>
          <td class="col-sm-1">Crafting Time (S)</td>
      </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="(k,v)  in getFSService().simulation.recipeDef" class="noselect" >
        <td class="col-sm-3">{{v.output}}</td> 
        <td class="col-sm-5">{{v.input}}</td> 
        <td class="col-sm-2">{{v.construction}}</td> 
        <td class="col-sm-1">{{v.craftBaseTimeS}}</td> 
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->



<div class="fadedbackground">

<h4>TOOL DEFINITIONS (reference)</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
      <tr class="noselect" >
          <td class="col-sm-1">Name</td>
          <td class="col-sm-1">Strength</td>
      </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="(k,v)  in getFSService().simulation.toolDefines" class="noselect" >
        <td class="col-sm-1">{{k}}</td> 
        <td class="col-sm-1">{{v.strength}}</td> 
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->



<div class="fadedbackground">

<h4>HARVEST DEFINITIONS (reference)</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
      <tr class="noselect" >
          <td class="col-sm-1">Type</td>
          <td class="col-sm-1">Harvest Time</td>
          <td class="col-sm-1">Toughness</td>
      </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="(k,v)  in getFSService().simulation.harvestableDefines" class="noselect" >
        <td class="col-sm-1">{{k}}</td> 
        <td class="col-sm-1">{{v.harvestBaseTimeS}}</td> 
        <td class="col-sm-1">{{v.toughness}}</td> 
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->


<div class="fadedbackground">

<h4>GATHER DEFINITIONS (reference)</h4>

<div class="bodycontainer scrollable">
<table class="table table-bordered table-condensed table-scrollable">
  <tbody>
      <tr class="noselect" >
          <td class="col-sm-1">Type</td>
          <td class="col-sm-1">Gather Time</td>
          <td class="col-sm-1">Dependencies</td>
      </tr>
  </tbody>
</table>  
</div>

<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">

    <tbody>
      <tr ng-repeat="(k,v)  in getFSService().simulation.gatherableDefines" class="noselect" >
        <td class="col-sm-1">{{k}}</td> 
        <td class="col-sm-1">{{v.gatherBaseTimeS}}</td> 
        <td class="col-sm-1">{{v.dependencies}}</td> 
      </tr>
    </tbody>
  </table>
</div>

</div><!--fadedbackground-->




 