<div class="fadedbackground">

<h4>Rewards</h4>


<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">
    <theader>
        <tr class="noselect" >
            <td class="col-sm-3">Name</td>
            <td class="col-sm-6">Description</td>
            <td class="col-sm-6">Recipe Unlock</td>
            <td class="col-sm-1">XP</td>
        </tr>
    </theader>
    <tbody>
      <tr ng-repeat="(k,v)  in getFSSimRules().rewardRules" class="noselect" >
        <td > <div style = "background:{{getFSService().simulation.rewardbgcolor(k)}}"> {{k}}</div></td> 
        <td > <div style = "background:{{getFSService().simulation.rewardbgcolor(k)}}">{{v.desc}}</div></td> 
        <td > <div style = "background:{{getFSService().simulation.rewardbgcolor(k)}}">{{v.recipeUnlocks}}</div></td> 
        <td > <div style = "background:{{getFSService().simulation.rewardbgcolor(k)}}">{{v.xp}}</div></td> 
      </tr>
    </tbody>
  </table>
</div>


</div><!--fadedbackground-->

 