<div class="fadedbackground">

<h4>Rewards</h4>


<div class="bodycontainer scrollable">
  <table class="table table-bordered table-condensed table-scrollable">
    <theader>
        <tr class="noselect" >
            <td class="col-sm-1">Name</td>
            <td class="col-sm-1">Description</td>
            <td class="col-sm-1">Recipe Unlock</td>
        </tr>
    </theader>
    <tbody>
      <tr ng-repeat="(k,v)  in getFSService().simulation.rewardRules" class="noselect" bgcolor={{getFSService().simulation.rewardbgcolor(k)}} >
        <td >{{k}}</td> 
        <td >{{v.desc}}</td> 
        <td >{{v.recipeUnlocks}}</td> 
      </tr>
    </tbody>
  </table>
</div>


</div><!--fadedbackground-->




 